NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your-publishable-key
CLERK_SECRET_KEY=your-secret-key
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/login # Replace with your login URL
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up # Replace with your signup URL
NEXT_PUBLIC_SUPABASE_URL=https://your-supabase.supabase.co # Replace with your Supabase URL
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
DATABASE_URL=postgresql://user:password@localhost:6543/dbname?schema=public # Replace with your postgres connection URL
DIRECT_URL=postgresql://user:password@localhost:5432/dbname?schema=public # Replace with your postgres connection URL
SUPABASE_SERVICE_KEY=your-service-key
CLERK_WEBHOOK_SECRET=your-secret
CLOUDFLARE_WORKERS_AI_API_TOKEN=your-api-token
RESEND_API_KEY=your-api-key